body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.node, .node-error {
  padding: 30px;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  color: black;
  width: 240px;
}

.node-error {
  background-color: rgb(200, 0, 0);
  color: white;
}
